<!DOCTYPE html>
<html>

<head>
    <title>Resume&trade; - Conversation mode: transcript conversation between healthcare provider and patients</title>
    <script src="./js/vue.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/semantic.min.js"></script>
    <script src="/resume/Resume.js"></script>
    <script src="./js/UserLimit.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>

<body>
    <div id="app" class="ui container">
        <header class="ui center aligned header">
            <div v-if="showRecorder">
                <h1>Recorder for HN: {{ HN }}</h1>
                <h3>TXN: {{TXN}} Section: {{sectionList[sectionID]?sectionList[sectionID].name:''}} ({{sectionID}})</h3>
                <button class="ui yellow button" @click="changeHN" v-bind:class="{disabled : isRecording}">Change
                    HN</button>
            </div>
            <div v-else>
                <h1><i class="user md icon"></i>Resume: Speech to text assistant</h1>
                <h2>Conversation to OPD form</h2>
            </div>

        </header>
        <div>
            <div class="ui segments">
                <div class="ui segment" v-if="!showRecorder" id="HN_input">
                    <div class="ui massive fluid action left labeled input">
                        <div class="ui label"><i class="ui sitemap icon"></i> Section</div>
                        <select v-model="sectionID" class="massive fluid" required>
                            <option disabled>Please select one</option>
                            <option v-for="(item, index) in sectionList" v-if="item.active" :value="index">{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="ui massive fluid action left icon input">
                        <i class="address card icon"></i>
                        <input autofocus autocomplete="off" placeholder="HN..." min="0" step="1" type="number"
                            v-model="inputHN" pattern="\d*" @keyup.enter="submitHN" />
                        <button @click="submitHN" class="ui green button">Proceed</button>
                    </div>
                </div>
                <div class="ui segment" v-else>

                    <div class="ui massive fluid labeled input">
                        <div class="ui label">CC</div>
                        <input autofocus autocomplete="off" placeholder="Chief complaint" @keyup.enter="submitHN"
                            name="CC" id="CC" class="fluid" v-model="CC" />
                        <!-- <button @click="" class="ui brown button icon"><i class="microphone icon"></i></button> -->
                    </div>

                    <div class="ui segment">
                        <div class="ui massive action fluid labeled icon">
                            <button v-bind:class="recordBtnClass" class="ui huge labeled icon button green"
                                @click="toggleRecord">
                                <i class="icon" v-bind:class="{'microphone': !isRecording,  'pause': isRecording}"></i>
                                {{ btnRecordValue }}
                            </button>
                            <span class="ui force-hide"><button class="ui huge labeled red icon button mobile" v-if="(isRecording && interval)"
                                @click="stopRecord"><i class="stop icon"></i> Stop (For debug ONLY!) </button></span>
                            <br><b id="usedTime"></b>
                        </div>
                    </div>

                    <div class="ui form">
                        <div class="field">
                            <label>Present Illness</label>
                            <div class="ui corner labeled input">
                                <textarea v-model="PI"></textarea>
                                <!-- <div class="ui label corner brown"><i class="icon microphone"></i></div> -->
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tPI" @click="appendSuggest('PI',i)">{{i}}</div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Past History</label>
                            <div class="ui corner labeled input">
                                <textarea v-model="PHx"></textarea>
                                <!-- <div class="ui label corner brown"><i class="icon microphone"></i></div> -->
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tPHx" @click="appendSuggest('PHx',i)">{{i}}</div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Food &amp; Drug Allergy</label>
                            <div class="ui corner labeled input">
                                <textarea v-model="Allergy"></textarea>
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tAllergy" @click="appendSuggest('Allergy',i)">{{i}}
                                </div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Family History</label>
                            <div class="ui corner labeled input">
                                <textarea v-model="FamHx"></textarea>
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tFamHx" @click="appendSuggest('FamHx',i)">{{i}}</div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Physical Exam</label>
                            <div class="ui corner labeled input">
                                <textarea v-model="PE" placeholder="More fields here. It is only example."></textarea>
                            </div>
                        </div>

                        <hr />
                        <div class="field">
                            <label>Diagnosis</label>
                            <div class="ui labeled input">
                                <input v-model="Dx">
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tDx" @click="appendSuggest('Dx',i)">{{i}}</div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Assessment of Problems</label>
                            <div class="ui labeled input">
                                <input v-model="A">
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tA" @click="appendSuggest('A',i)">{{i}}</div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Treatment</label>
                            <div class="ui labeled input">
                                <input v-model="Tx">
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tTx" @click="appendSuggest('Tx',i)">{{i}}</div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Follow up</label>
                            <div class="ui labeled input">
                                <input v-model="FU">
                            </div>
                            <div>
                                <div class="ui label" v-for="i in tFU" @click="appendSuggest('FU',i)">{{i}}</div>
                                <div class="lds-facebook" v-if="hasActiveResumeSession"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui styled fluid accordion">
                        <div class="title active">
                            <i class="dropdown icon"></i> Previous Recordings
                        </div>
                        <div class="content active">
                            <p class="transition hidden">
                            <div class="ui tiny message" v-if="history">
                                <ol class="ui divided selection items">
                                    <li v-for="value in history">
                                        <a class="item">
                                            <div class="ui teal horizontal label">UID
                                                <div class="detail">
                                                    {{ value.session_id }}</div>
                                            </div>
                                            <div class="ui blue horizontal label">HN
                                                <div class="detail">
                                                    {{ value.identifier.HN }}</div>
                                            </div>
                                            <div class="middle aligned content">
                                                <audio class="left" :src="value.url" controls playsinline></audio>
                                            </div>
                                        </a>
                                    </li>

                                </ol>
                            </div>

                            </p>
                        </div>
                        <div class="title active">
                            <i class="dropdown icon"></i> Logs
                        </div>
                        <div class="content active">
                            <p class="transition hidden">
                            <div class="ui tiny message">
                                <div class="header">
                                    Event Logs
                                </div>
                                <ul class="list">
                                    <div id="log" style="max-height: 250px; overflow:scroll;"></div>
                                </ul>
                            </div>
                            </p>
                        </div>
                        <!-- <div class="title">
                            <i class="dropdown icon"></i> Filelists
                        </div>
                        <div class="content">
                            <p class="transition hidden">
                            <div>
                                <li style="font-size: 1rem" v-for="i in srvfilelist">{{ i }}</li>
                            </div>
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui">
        <i class="close icon"></i>
        <div class="header"><i class="ui icon microphone"></i>Please Choose Mode</div>
        <div class="action">
            <button class="ui button">Conversation: write summary of your dialog</button>
            <button class="ui button">Dictation: type what only one person say</button>
        </div>
    </div>
    <script src="/resume/RecordRTC.min.js"></script>
    <script src="./js/cnv.js"></script>
</body>

</html>